* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout{
    display: flex;
}


.barra-lateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    padding-top: 15px;
    gap: 20px;
}

button{
    border-radius: 20px;
    border: none;
    
}

.container-conteudo{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: black;
   
}

header {
    
    display: flex;
    align-items: center;
    background-color: #f6c1f6;
    width: 100%;
    height: 64px;
    
    
   
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 350px;
}

.icons-header {
    display: flex;
    gap: 10px;


}
.mensagens{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    background-color: white;
    border-radius: 14px;
    border-color: lightgray;
    
}

main {
    flex-grow: 1;
    background-color: #fff2ff;
    width: 565px;
    height: 1024px;
    padding: 10px;
}